*{
    padding: 0px;
    margin: 0px;
}

.serve{
    width: 100%;
    height:110vh;

}
.serve-content{
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-left:25%;
   
    height:200px;
    margin-top: 30px;
}
.box2{
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-left:25%;
   margin-bottom: 10%;
    height:200px;
    margin-top: 30px;
}
.serve-content1{
    width: 90%;
    margin: auto;
    justify-content: center;
    
  
    height:200px;
    margin-top: 30px;
}
.heart-icon{
    display: none;
}
.bulb-icon{
    display: none;
}
.shopcart-icon{
    display: none;
}
.bus-icon{
    display: none;
}
.serve-text{
    position: absolute;
    width: 90%;
    height: 176px;
    left: 30px;
    top: 881px;
    text-align: justify;
    font-size: 100%;
    line-height: 22px; 
    color: #3A3A3A;
}
.serve-box{
    position: absolute;
    width: 100%;
    height: 143px;
    left: -2px;
    top: 1059px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.serve-head{
    position: absolute;
    width: 221px;
    height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5%;
    margin-left: 40%;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.serve-text1{
    position: absolute;
    width: 90%;
    height: 176px;
    left: 30px;
    top: 1281px;
    text-align: justify;
    
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 22px;
    
    color: #3A3A3A
}

@media (max-width:360px)  { 
    .serve{
        width: 100%;
        height: 700px!important;

    }
    .shopcart-icon{
        margin: auto;
        margin-top: 120px;
        display: block;
    }
    .heart-icon{
        margin-top: 80%!important;
        display: block;
    }
    .bulb-icon{
         margin: auto;
         margin-top: -10px;
         display: block;
    }
    .bus-icon{
        margin: auto;
        display: block;
        margin-top: 70%;
        margin-left: 17%;
    }
}

@media (max-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 


    .serve-head{
        margin-top: 10%;
        margin-left: 25%;
        
    }
    .serve{
        width: 100%;
        height: 800px!important;

    }
    .heart-icon{
        margin-left: 20%;
        margin-top: 30%;
        display: block;
    }
    .bulb-icon{
         margin: auto;
         margin-top: -10px;
         display: block;
    }
    b {
        margin-left: 0%!important;
    }
    .shopcart-icon{
        margin: auto;
        margin-top: 120px;
        display: block;
    }
    .bus-icon{
        margin: auto;
        display: block;
        margin-top: 70%;
        margin-left: 17%;
    }

}

@media (max-width:1200px) {
    .serve{
        width: 100%;
        height: 900px!important;

    }
    b {
        margin-left: -50%;
    }
   
}