@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500&family=Roboto+Slab&display=swap');
*{   
    padding: 0px;   
    margin: 0px;
}
.header{
    background: linear-gradient(244.54deg, rgba(0, 153, 255, 0.42) 5.48%, rgba(110, 76, 255, 0.755) 62.63%, #DB00FF 109.63%);    height: 115vh;
    width: 100%;
     height: 100vh;
}
.nav{
    width: 100%;
    height: 80px;
}
.logo{
    position: absolute;
    width: 109px;
    height: 21px;
    left: 11px;
    top: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}

.menu{
    float: right;
}
.icon{
    list-style: none;
    display: flex;
   
}
.iteams{
    padding: 15px;
    color: black;
}
.content{
    margin: auto;
    width: 80%;
    height: 80px;
    color: white;
    
}
.content-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}
.content-text-2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    
}

.box{
    margin: auto;
    width: 80%;
    height: 10%;
    background: linear-gradient(250.8deg, #FFFFFF 3.87%, #E1C2E7 31.78%, #9BD1DD 47.66%, #E8B4F0 63.06%, #FFFFFF 96.27%);
    border-radius: 15px;
}
.play-icon{
     display: none;
}
.text{
    position: absolute;
    width: 80%;
    height: 6%;
    top: 286px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin:auto;
    color: #FFFFFF;
}
.text-box{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 15%;
}
.btn{
    display: flex;
    
}
.button{
position: absolute;
width: 10%;
height: 41px;
left: 10%;
margin-left:25%;
top: 388px;
border: 3px solid #FFFFFF;
border-radius: 20px;
}
.button1{
position: absolute;
width:10%;
height: 41px;
right: 35%;
top: 388px;
border: 3px solid #FFFFFF;
border-radius: 20px;

}
.btn-text{
width: 84px;
height: 17px;
left: 15px;
margin: auto;
padding: 10px;
text-align: center;
font-family: Montserrat;
font-weight: bold;
font-size: 80%;
line-height: 17px;
position: absolute;
color: #FFFFFF;
}
.container{
position: absolute;
width: 95%;
height: 364px;
left: 0px;
top: 481px;
background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.container-text{
position: absolute;
width: 324px;
height: 95px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
margin-top: 10px;
color: #000000;
}
.getstart{
    position: absolute;
    width: 212.87px;
    height: 41px;
    left: 22px;
    top: 651px;  
    border: 3px solid #000000;
    border-radius: 20px;
}
.services{
    position: absolute;
    width: 180px;
    height: 41px;
    left: 22px;
    top: 726px;  
    border: 3px solid #000000;
    border-radius: 20px;
}
.btn2-text{
position: absolute;
height: 17px;
text-align: center;
padding: 10px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.arrow{
    float: right;
    margin-right: 25px;
    margin-top: 6px;
}

@media (max-width:1200px)  {
    .button{
        position: absolute;
        width: 150px;
        height: 41px;
        left: -10%; 
      }
    .button1{
            position: absolute;
            width:150px;
            height: 41px;
            right:10%;                      
       }
    .btn-text{
        left: 1px!important;

    }
 }



@media (max-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 

    .button{
        position: absolute;
        width: 30%;
        height: 41px;
        left: -10%;
     
        }
        .button1{
        position: absolute;
        width:30%;
        height: 41px;
        right:10%;
        
        
        }
        .play-icon{
            margin: auto;
            margin-top: -5px;
            display: block;
        }
        .content-text-2{
            margin-top: -10px;
        }



}
@media (max-width:360px)  {
      .box{
          margin-top: 30px;
      }
      button {
        position: absolute;
        width: 30%;
        margin-top: 10px!important;
        
        height: 41px;
        left: -15%!important;
    }
}